code[class*="language-"], pre[class*="language-"] {
  color: #444;
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 120%;
}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #fffbf7;
}
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #666;
}
.token.punctuation {
  color: #666;
}
.namespace {
  opacity: .7;
}
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #E53;
}
.token.boolean, .token.number {
  color: #872;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.inserted {
  color: #248;
}
.token.builtin {
  color: #E53;
}
.token.operator{
  color: #872;
}
.token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: #248;
}
.token.atrule, .token.attr-value, .token.function {
  color: #872;
}
.token.keyword {
  color: #000;
}
.token.regex, .token.important {
  color: #872;
}
.token.important, .token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
